{% extends 'vehicles/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>My Vehicles</h2>
      {% if posts %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Vehicle Number</th>
              <th>Vehicle Type</th>
              <th>DC Number</th>
              <th>PO Number</th>
              
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
              <tr>
                <td>{{ post.vehicle_number }}</td>
                <td>{{ post.vehicle_type }}</td>
                <td>{{ post.dc_number }}</td>
                <td>{{ post.po_number }}</td>
                
                
                
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No posts yet :(</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
